<!DOCTYPE html>
<html>
<head>
  <title>Administrador de tareas</title>
</head>
<body>
  <h1>Administrador de tareas</h1>
  <p><a href="/users">Administrar usuarios</a></p>
  <p><a href="/tasks">Administrar tareas</a></p>
</body>
</html>
